.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 8px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding:  0 16px;
  border-radius: 6px;
}

.nav-text a:hover{
  background-color: #ffffff46;
  transition: .25s;
}

.nav-menu-items {
  width: 100%;
  height: calc(90vh - 100px);
  display: flex;
  flex-direction: column;
}

.nav-menu-items .logout {
  margin-top: auto;
}

span {
  margin-left: 16px;
}

.barangay-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 27px 0;
  border-bottom: 2px solid #fff;
  margin: 0 15px;
}

.barangay-icon svg {
  font-size: 45px;
}

