/* Dashboard */
.dashboard-header {
  width: 100%;
  padding: 8px 10px;
  background: #1171df;
  border-radius: 8px;
  margin-bottom: 15px;
}

.dashboard-header p {
  font-weight: 600;
  color: #fff;
  font-size: 22px;
}

.dashboard-p p {
  color: #1171df;
  padding: 0 0 0 6px;
  font-weight: 600;
  font-size: 21px;
  margin-bottom: 8px;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 19px;
  width: 100%;
}

.cards-container .cards {
  display: flex;
  border: 1px solid #000;
  border-radius: 7px;
  padding: 7px;
  max-width: 18.7%;
  font-size: 14px;
  font-weight: 500;
  height: 120px;
  width: 100%;
  border: none;
  background: #fff;
  box-shadow: 5.5px 5.5px 3px 0px rgba(0,0,0,0.09);
}

.cards .card-content {
  width: 50%;
  font-size: 12px;
}

.card-content .card-data {
  text-align: center;
  font-size: 28px;
  margin-top: 15px;
}

.cards-voter .card-content .card-data {
  text-align: center;
  font-size: 28px;
  margin-top: 1px;
}

.cards .card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 275px;
  width: 50%;
}

.card-icon div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e4f1ffef;
  padding: 10px;
  height: 80px;
  width: 80px;
  border-radius: 40px ;
}

.card-icon div svg {
  fill: #1171df;
  font-size: 35px;
}

.his-text {
  color: #1171df;
  font-weight: 600;
  font-size: 21px;
  margin-bottom: 8px;
}

.second-row-chart {
  width: 100%;
  display: flex;
  margin-bottom: 18px;
  justify-content: space-between;
}

.second-row-chart p {
  color: #1171df;
  font-weight: 500;
  font-size: 17px;
  margin: 5px 0 12px 18px;
}

.second-row-chart .growth-rate-chart{
  width: 49%;
  border-radius: 7px;
  background: #fff;
  box-shadow: 5.5px 5.5px 3px 0px rgba(0,0,0,0.09);
}

.second-row-chart .population-chart{
  width: 49%;
  border-radius: 7px;
  background: #fff;
  box-shadow: 5.5px 5.5px 3px 0px rgba(0,0,0,0.09);
  padding: 7px;
}

.age-distribution-chart {
  width: 100%;
  border-radius: 7px;
  background: #fff;
  box-shadow: 5.5px 5.5px 3px 0px rgba(0,0,0,0.09);
  margin-right: 20px;
}

.age-distribution-chart p {
  color: #1171df;
  font-weight: 500;
  font-size: 17px;
  margin: 0 0 9px 18px;
}

/* Housholds */

.households-container p {
  color: #1171df;
  font-size: 24px;
  font-weight: 560;

}

.households-container .handle-households {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.households-container .household-search-container {
  display: flex;
  position: relative;
}

.household-search-container .search-icon{
  position: absolute;
  top: 5px;
  left: 6px;
  font-size: 20px;
}

.household-search-container .search {
  width: 300px;
  height: 35px;
  border-radius: 6px;
  outline: none;
  border: none;
  padding: 0 28px ;
  background: #fff;
  border: .5px solid #aaaaaa;
}

.search-icon svg {
  fill: #1171df;
}

.handle-households .btn {
  border: none;
  padding: 5px 10px;
  background: #1171df;
  border-radius: 6px;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
}

.btn-del-all {
  margin-left: 7px;
  padding: 0 4px;
  outline: none;
  background: #e82727;
  border-radius: 3px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-del-all svg {
  font-size: 18.5px;
  fill: #ffffff;
}

.households-table-container {
  width: 100%;
  background: #fff;
  margin-top: 30px;
}

.households-table-container .households-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  table-layout: fixed;
}

.households-table tr:nth-child(even) {
  background-color: #ebf3fa;
}

.households-table th {
  background: #1171df;
  color: #fff;
  padding: 3px;
  width: 100%;
}

.households-table td {
  padding: 3px;
}

.households-table button{
  cursor: pointer;
  border: none;
  padding: 2px;
  border-radius: 2px;
  margin-right: 7px;
}

.households-table button:last-child {
  margin-right: 0;
}

.households-table button svg {
  fill: #fff;
  font-size: 17px;
}

.households-table .eyes {
  background: #61f368;
}

.households-table .edit {
  background: #2e8af3;
}

.households-table .delete {
  background: #ec2647;
}

/* household-info-modal */

.household-info-modal {
  padding: 15px;
}

.household-info-modal h3 {
  padding-bottom: 10px;
  border-bottom: 1px solid #949494;
}

.household-info-modal p {
  padding: 7px 0;
}

.household-info-modal .household-name-container {
  width: 100%;
  border: 1px solid #7c7c7c;
  padding: 3px 6px;
  background: #83b7f1;
  font-weight: 600;
  margin-bottom: 15px;
}

.household-info-modal .household-info-table-container {
  width: 100%;
}

.household-info-modal .households-info-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  border: 1px solid #7c7c7c;
  table-layout: fixed;
}

.households-info-table th {
  background: #1171df;
  color: #fff;
  padding: 3px;
}

.households-info-table tr:nth-child(even) {
  background-color: #ebf3fa;
}

/* Modal add household */
.household-add-modal {
  padding: 15px;
  width: 100%;
}

.household-add-modal .input-household-id {
  outline: none;
  height: 28px;
  width: 125px;
  padding-left: 1%;
  margin-right: 7px;
}

.household-add-modal .input-household-name {
  outline: none;
  height: 28px;
  width: 300px;
  padding-left: 1%;
  margin-right: 7px;
}

.household-add-modal .btn-add-resident {
  background: #53f35b;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  margin-right: 7px;
}

.household-add-modal .btn-sv-hsh {
  background: #1171df;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

.household-add-modal .attr-hsh-outer {
  margin-top: 15px;
  border-top: 2px solid #1171df;
}

.household-add-modal input::placeholder {
  color: #494949;
}

.household-add-modal .attr-hsh {
  padding: 10px 0 0 0;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.input-field-hsh input {
  outline: none;
  height: 28px;
  width: 200px;
}

.input-field-hsh label {
  margin-right: 4px;
}

/* business container */

.business-container .business-header {
  width: 100%;
  padding: 6px 0;
}

.business-header p {
  font-weight: 600;
  font-size: 24px;
  color: #1171df;
}

.business-table {
  text-align: center;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.business-container .bsns-form {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #1171df;
  padding: 20px 0;
  margin: 0 70px 30px 70px;
  border-radius: 7px;
}

.bsns-form input {
  padding-left: 4px;
}

.bsns-form .bsns-form-1 {
  display: flex;
  gap: 6.5em;
  margin-bottom: 10px;
}

.bsns-form-1 .input-bsns {
  display: flex;
  flex-direction: column;
}

.input-bsns label {
  font-size: 15px;
}

.input-bsns input {
  width: 300px;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 12.2px;
}

.input-bsns select {
  width: 300px;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 12.2px;
}

.bsns-form-btn {
  background: #fff;
  color: #1171df;
  font-weight: 600;
  padding: 5px 10px;
  border: 1px solid #1171df;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  transition: .65s;
}

.bsns-form-btn:hover {
  transition: .65s;
  background: #1171df;
  border: 1px solid #fff;
  color: #fff;
}

/* Business Table */

.business-table thead {
  background: #1171df;
  color: #fff;
}

.business-table tbody {
  background: #fff;
}

.business-table tbody td {
  font-size: 13.5px;
}

.business-edit {
  margin-right: 7px;
  border: 1px solid #1171df;
  background: #b3d7f5;
  padding: 3px 6px;
  border-radius: 3px;
}

.business-edit svg {
  fill: #1171df;
}

.business-del {
  border: 1px solid #ec1a1a;
  background: #f8c0c0;
  padding: 3px 6px;
  border-radius: 3px;
}

.business-del svg {
  fill: #ec1a1a;
}

/* Paging */
.paging-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #fff;
  padding: 5px 0;
}

.paging-row .pagin {
  margin: 0;
  padding: 0 10px;
}
